*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #14356654, #21885454);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  outline: none;
  border: 1px solid white;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0.75rem;
}

.output .prev-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .curr-operand {
  color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer pre a {
  font-size: 1rem;
  padding-top: 2rem;
  margin-right: 1rem;
  color: blue;
}

@media (max-width: 400px) {
  .calculator-grid {
    grid-template-columns: repeat(4, 4.5rem);
    grid-template-rows: minmax(5rem, auto) repeat(5, 5rem);
  }

  .calculator-grid > button {
    font-size: 1.5rem;
  }

  .output .prev-operand {
    font-size: 1rem;
  }

  .output .curr-operand {
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
  }
}
